name: Tests

on: [pull_request, push]

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        platform:
          - ubuntu-20.04
        python-version: [3.8, 3.9, pypy3]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install
      run: | 
        python -m pip install --upgrade setuptools pip wheel pytest
    - name: Test with pytest
      run: pytest
